.navbar{
    display: flex;
    width: 30%;
    justify-content: space-around;
    list-style: none;
}

nav{
    display: flex;
    justify-content: space-between;
}
.navbar{
    width: 87%;
    justify-content: space-around;
    color: white;
}
.navbar a{
    text-decoration: none;
    color: white;
}